// Fonts
$helvetica: "Helvetica", sans-serif;
$mabryPro: "Mabry Pro", sans-serif;
$bodoni: "Bodoni Book", sans-serif;
$rockwell: "Rockwell", sans-serif;

//Colors
$white: #fff;
$ghostSilver: #c4c4c4;
$silver: #cbcbcb;
$suvaGrey: #909090;
$gray: #909090;
$black: #000;
