{
	"extends": [
		"stylelint-config-recommended",
		"stylelint-config-recommended-scss",
		"stylelint-config-prettier"
	],
	"plugins": [
		"stylelint-scss",
		"stylelint-order"
	],
	"rules": {
		"order/order": [
			[
				"custom-properties",
				"dollar-variables",
				"declarations",
				"rules",
				{
					"type": "at-rule",
					"name": "include",
					"hasBlock": true
				},
				{
					"type": "at-rule",
					"name": "media",
					"hasBlock": true
				}
			],
			{
				"unspecified": "ignore"
			}
		],
		"order/properties-order": [
			"content",
			"position",
			"top",
			"bottom",
			"left",
			"right",
			"overflow",
			"z-index",
			"float",
			"display",
			"flex",
			"justify-content",
			"justify-items",
			"justify-self",
			"align-content",
			"align-items",
			"align-self",
			"visibility",
			"opacity",
			"width",
			"height",
			"margin",
			"margin-top",
			"margin-bottom",
			"margin-left",
			"margin-right",
			"padding",
			"padding-top",
			"padding-bottom",
			"padding-left",
			"padding-right",
			"border",
			"border-width",
			"border-top-width",
			"border-bottom-width",
			"border-left-width",
			"border-right-width",
			"border-style",
			"border-top-style",
			"border-bottom-style",
			"border-left-style",
			"border-right-style",
			"border-color",
			"border-top-color",
			"border-bottom-color",
			"border-left-color",
			"border-right-color",
			"outline",
			"outline-width",
			"outline-style",
			"outline-color",
			"outline-offset",
			"background",
			"background-color",
			"background-image",
			"background-repeat",
			"background-size",
			"background-position",
			"background-attachment",
			"vertical-align",
			"list-style",
			"font",
			"font-family",
			"font-size",
			"font-weight",
			"line-height",
			"letter-spacing",
			"text-align",
			"text-transform",
			"text-decoration",
			"color",
			"white-space",
			"transform",
			"transition",
			"box-sizing",
			"cursor"
		],
		"indentation": "tab",
		"no-empty-source": null,
		"block-no-empty": true,
		"block-opening-brace-space-before": "always-single-line",
		"selector-pseudo-element-colon-notation": "double",
		"declaration-colon-space-before": "never",
		"declaration-colon-space-after": "always",
		"number-leading-zero": "always",
		"number-no-trailing-zeros": true,
		"length-zero-no-unit": true,
		"color-hex-case": "lower"
	}
}
