#challenge {
    main {
        padding: 150px 0;
    }

    .shopify-challenge__container { 
        font-size: 18px;
        text-align: center;
    }

    .shopify-challenge__button {

        &:hover,
        &:focus {
            
        }
    }
}
