.template-password {
	a {
		color: #1E88E5;
		transition-duration: 0.3s;
		transition-property: color;

		&:hover,
		&:focus {
			color: darken(#1E88E5, 15%);
		}
	}

	.errors {
		margin: 5px 0;
		color: red;
		line-height: 1.5;
	}

	.template-password__header {
		text-align: center;
		padding: 25px 15px;
		font-size: 24px;
	}

	.template-password__popup {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		padding: 15px;
		background-color: #fff;
		visibility: hidden;
		opacity: 0;
		transform: scale(0.85);
		text-align: center;
		transition-duration: 0.3s;
		transition-property: opacity, transform, visibility;

		&.template-password__popup--open {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
		}
	}

	.template-password__login {
		position: relative;
		max-width: 540px;
		width: 100%;
		margin: auto;
		padding: 30px;
		border: 2px solid #000;
	}

	.template-password__main {
		width: 100%;
		margin: auto;
		padding-right: 15px;
		padding-left: 15px;
		text-align: center;
	}

	.template-password__content {
		max-width: 540px;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding: 30px 20px;
		border: 2px solid #000;
	}

	.template-password__h2 {
		margin-bottom: 20px;
		font-size: 28px;
	}

	.template-password__h4 {
		margin: 10px 0;
		font-size: 18px;
	}

	.password-close-button {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 25px;
		height: 25px;
		padding: 0;
		border: none;
		background-color: transparent;

		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;

		svg {
			fill: #000;
		}

	}

	.password-submit-group {
		display: flex;
		justify-content: center;
		margin: 20px 0;
	}

	.password-input,
	.password-button {
		height: 36px;
		border-radius: 0;
	}

	.password-input {
		width: 100%;
		max-width: 300px;
		font-family: sans-serif;
		font-size: 16px;
		color: #000;
		border: 1px solid #000;
		padding: 0 10px;

		transition-property: box-shadow;
		transition-duration: 0.3s;

		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;

		&:focus {
			box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.87);
		}
	}

	.password-button {
		padding: 0 15px;
		font-family: sans-serif;
		font-size: 14px;
		background-color: #000;
		color: #fff;
		text-transform: uppercase;
		border: none;

		transition-property: background-color;
		transition-duration: 0.3s;

		&:hover,
		&:focus {
			background-color: lighten(#5d5d5d, 15%);
		}
	}

	.social-sharing {
		margin: 15px 0;

		.social-sharing__link {
			display: inline-flex;
			align-items: center;
			margin: 5px;
			text-decoration: none;

			.icon {
				margin-right: 5px;
			}
		}
	}
}
