@function replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace +
			str-replace(
				str-slice($string, $index + str-length($search)),
				$search,
				$replace
			);
	}

	@return $string;
}

@function settings($setting, $default: false) {
	$characters: "_", ".";

	@each $character in $characters {
		$setting: replace($setting, $character, "-");
	}

	@if $default {
		@return var(--settings-#{$setting}, $default);
	} @else {
		@return var(--settings-#{$setting});
	}
}

@mixin html-has-class($name) {
	@if & {
		$selector: &;
		@at-root {
			html.#{$name} {
				#{$selector} {
					@content;
				}
			}
		}
	} @else {
		html.#{$name} {
			@content;
		}
	}
}

@mixin body-has-class($name) {
	@if & {
		$selector: &;
		@at-root {
			body.#{$name} {
				#{$selector} {
					@content;
				}
			}
		}
	} @else {
		body.#{$name} {
			@content;
		}
	}
}
